<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Details</title>
</head>
<body class="flex flex-col bg-gray-100 min-h-screen font-sans antialised">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">AI Blog Generator</h1>
        </div>

        <div>
            <a  class="text-white hover:underline">
                Welcome {{user.username}}
            </a>
            <a  href="all-blogs" class="text-white hover:underline">
                Saved blog posts
            </a>
            <a href="login" class="text-white hover:underline">
                Logout
            </a>
        </div>
    </nav>

    <!-- Main Content -->
    <div>
        <div>
            <section>
                <h2 class="text-xl mb-4 font-semibold">Blog Post Details</h2>
                <div>
                    <h3 class="text-lg font-semibold">
                        {{blog_article_details.youtube_title}}
                    </h3>
                    <p class="text-gray-700">
                        {{blog_article_details.content}}
                    </p>
                    <hr class="my-4 border-gray-300">
                    <h4 class="text-lg font-semibold">Youtube Title</h4>
                    <p class="text-gray-700">
                        {{blog_article_details.youtube_title}}
                    </p>
                    <h4 class="text-lg font-semibold">
                        Youtube Link
                    </h4>
                    <a href="{{blog_article_details.youtube_link}}" class="text-blue-600 hover:underline">{{blog_article_details.youtube_link}}</a>
                </div>
            </section>
        </div>
    </div>
    <footer class="text-center p-4 text-black mt-6">By Yanis Merzouki</footer>
</body>
</html>