<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Blog Generator</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col bg-gray-100 min-h-screen font-sans antialised">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">AI Video Analyzer</h1>
        </div>
        <div class="text-white my-auto text-md">
            <a  class="hover:underline">
                Welcome {{user.username}}!
            </a>
             | 
            <a  href="/blog-list/" class="hover:underline">
                Blog List
            </a>
             | 
            <a href="logout" class="hover:underline">
                Logout
            </a>
            | 
            <a href="/delete-account/" class="hover:underline">
                Delete Account
            </a>
        </div>
    </nav>
    <!-- Main -->
    <br>
    <br>
    <div class="flex-grow mx-auto container mt-10 px-4 sm-px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 flex flex-col">
            <!-- Introduction -->
            <div class="text-center">
                <h2 class="text-2xl font-semibold mb-4">Welcome to the AI Video Analyzer</h2>
                <p text-gray-700>
                    Generate high-quality blog articles from Youtube. Simply enter the link to the Youtube video below and let AI create the content for you! Or maybe you are tired of looking for a specific subject in a Youtube video. If that is the case, paste the corresponding link and this web application will take care of the rest by generating adequate timestamps with titles.
                </p>
            </div>
            <br>
            <!-- Youtube Section -->
            <div>
                <h2 class="text-xl mb-4 font-semibold">
                    Enter Youtube VideoLink
                </h2>
                <div class="flex space-x-4 mb-4 text-center">
                    <input type="url" id="youtubeLink" placeholder="Paste Youtube link..." class="flex-grow p-2 border border-blue-400">
                </div>
                <div class="text-center">
                    <button id="generateBlogButton" class="bg-blue-600 text-white px-4 py-2 rounded-l-md hover:bg-blue-700 transitions-color flex-grow">Generate Blog Article</button>
                    <button id="generateTSButton" class="bg-blue-600 text-white px-4 py-2 hover:bg-blue-700 transitions-color flex-grow">Generate Timestamps</button>
                    
                </div>
            </div>
            
            <!-- Generate Blog section -->
            <section class="mt-10 flex-grow">
                <h2 class="text-xl mb-4 font-semibold">Generated Blog Article</h2>

                <!-- Section for loading circle -->
                <div id="loading-circle-1" class="loader mx-auto"></div>

                <!-- Youtube link corresponding to displayed blog. We keep it here so that we don't loose it if the user changes the link input and wants to save the blog still displayed -->
                <div id = "saved-link" style = "display: none;"></div>


                <div id="blogContent" class="mt-2 text-gray-700 space-y-4"></div>
                <div class="flex justify-end text-sm">
                    <a href="#" id="share-blog" class="btn btn-default btn-md">
                        <i class="fa fa-brands fa-x-twitter fa-fw"></i>
                        Share blog
                    </a>
                    <a href="#" id="save-blog" class="btn btn-default btn-md">
                        <i class="fas fa-save"></i>
                    </a>
                    <a id="already-saved" class="mt-2 flex">
                        <i class="fa-solid fa-check fa-xl"></i>
                    </a>
                </div>
            </section>

            <!-- Generate Timestamps section -->
            <section class="mt-10 flex-grow">
                <h2 class="text-xl mb-4 font-semibold">Generated Timestamps</h2>

                <!-- Section for loading circle -->
                <div id="loading-circle-2" class="loader mx-auto"></div>
                
                <pre id="tsContent" class="mt-2 text-gray-700 space-y-4 ml-2">
                </pre>
            </section>

            
        </div>       
    </div>

    <footer class="text-center p-4 text-black mt-6">By Yanis Merzouki</footer>
    <script src={% static "js/loading.js" %}></script>

</body>
</html>